<div class="col-md-10 col-md-offset-1">
	<% if @post .errors.any? %>
		<div class="alert alert-danger">
			<ul>
				<% @post.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>	
	<% end %>

	<div class = "form-group" %>
	  <label for="title">Title:</label>
		<input type="text" name="title" class="form-control" id="title">
	</div>

	<div class = "form-group" %>
	  <label for="body">Body:</label>
		<textarea class="form-control" rows="5" id="post_body"></textarea>
	</div>	

	<div class="form-group" >
		<button id="save", class= "btn btn-success btn-cons" >Save</button>
		<%= link_to 'Cancel',posts_path , class: "btn btn-danger btn-cons" %>
	</div>	

</div>

<!-- <script>
	$( document ).ready(function() {
		$("#save").on('click',function(){
    	console.log("save!");
    	
    	var post = {
    		"title": $("#title").val(),
    		"body": $("#post_body").val()
    	};

    	$.ajax({
    		url: "/posts",
    		type: "POST",
    		data: JSON.stringify(post),
    		dataType: 'json',
	      contentType: "application/json;charset=utf-8",
	      success: function(data){
	      	console.log("POST DATA!!");
	      	$(".post_data").append("<div>" + $('#title').val() + $('#post_body').val());
	      	$("#title").val(""),
	      	$("#post_body").val("")
	      },
	      error: function(){
	      	alert("error!");

	      },
    	});
    });	
	});
</script> -->